/* {} */

body {
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
}

/* Still have a margin to eliminate */
#menu, #footer {
    background-color:chocolate;
    padding: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

#menu a, #footer a {
    text-decoration: none;
    color: white;
}

#menu {
    grid-row: 1;
    grid-column: 1 / span 2;
}

#pesquisa {
    grid-row: 2;
    grid-column: 1 / span 2;
}

#diadehoje {
    grid-row: 3;
    grid-column: 2;
}

#footer {
    grid-row: 4;
    grid-column: 1 / span 2;
}

/* Fazer com que todo o header seja uma imagem */
#logo img {
    width: 5rem;
    height: auto;
}